* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  height: 100%; }

#app {
  margin: 20px auto;
  padding: 2px 2px 3px 3px;
  max-width: 500px;
  background: #5099a5;
  color: #FFF; }
  #app h2 {
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px; }

.listStyle li {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); }

.btn_pic {
  border: none;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #FFF; }

.todo_list {
  background: #62a3ae;
  border: 0px;
  outline: none;
  color: #FFF;
  border-bottom: 1px solid #FFF; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.btn_action {
  position: relative;
  float: left;
  left: 400px; }
